* {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  cursor: default;
}

button {
  border: none;
  cursor: pointer !important;
}

a {text-decoration: none; cursor: pointer !important;}
a:active, a:visited{color: inherit} 

.small-text {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
}

.small-text-bold {
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
}

.opacity6 {
  opacity: .6;
}

.opacity7 {
  opacity: .7;
}

.middle-text {
  font-size: 14px;
  line-height: 22px;
}

.large-text {
  font-size: 18px;
  line-height: 30px;
}

input,
button,
textarea,
select {
  font: inherit;
  outline:none;
}
