* {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
}

button {
  border: none;
  cursor: pointer;
}

a:active, a:visited{color: inherit} 

.small-text {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
}

.small-text-bold {
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 2px;
}

.middle-text {
  font-size: 14px;
  line-height: 22px;
}
/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/
